{
  "fqdn":"xxx.xxx.xxx",
  "email": "xxx@xxxx",
  "environment": {
          "TZ": "Africa/Accra"
  },
  "network": "192.168.0.1/24", 
  "monitoring": "munin",
  "apm": "glowroot",
  "proxy": "apache2",
  "containers": [
    {
      "name": "proxy",
      "ip": "192.168.0.2",
      "type": "apache_proxy"
    },
    {
      "name": "postgres",
      "ip": "192.168.0.20",
      "type": "postgres"
    },
    { 
      "name": "monitor",
      "ip": "192.168.0.30",
      "type": "munin_monitor"
    }
  ]
}

